.idea
.vscode
**/__pycache__/*
**.egg-info
data/
data_jeannie/
backend/notebook

.venv
.env
.env.local
*-local.*
*.local.*
*.sqlite

**/.ipynb_checkpoints
tools/analysis/result
tools/API/

**/tmp
.admins

node_modules
frontend/.env.production
