
.info {
    padding: 1rem;
    border-radius: 10px;
    border: 2px solid transparent;
    margin: 1em 1em;
    font-size: 0.95rem;
    line-height: 1.5;
    font-style: italic;
    background-color:#293140 ;
  }
  
  .error-block {
    border-color: #d73a49;
  }
  
  .warning-block {
    border-color: #d9a700;
  }
  
  .success-block {
    border-color: #28a745;
  }
  
  .note-block {
    border-color: #0366d6;
  }